/* Background color for whole page */
body {
    background-image: url("../images/green.jpg");
    margin-top: 5px;
    margin-left: 5px;
 }

 .header {
     background-color: #FFA07A;
     color: #006400;
     width: 300px;
     font-size: 40px;
     padding: 5px;
     margin-bottom: .5%;
 }

 .instructions
 {
     background-color: #87CEFA;
     color:#8B4513;
     font-size: 15px;
     line-height: 1.1;
     height: 250px;
     width: 300px;
     padding: 5px;
     padding-bottom: 7px;
     margin-bottom: .5%;
 } 

 .goal
 {
     background-color: #8FBC8F;
     color: #8B4513;
     font-size: 40px;
     height: 70px;
     width: 100px;
     padding-bottom: 5px;
     margin-right: .5%;
     margin-bottom: 3px;
     float: left;

 }

 .wins_losses
 {
     background-color: #F0E68C;
     color: #8B4513;
     font-size: 13px;
     height: 70px;
     width:200px;
     box-sizing: border-box;
     padding-left: 5px;
     padding-top: 5px;
     padding-bottom: 5px;
     margin-bottom: 3px;
     float: left;
 }

 .gems
 {
     clear: both;
 }

 .total
 {
     background-color: #CD5C5C;
     height: 15px;
     width: 150px;
     margin-bottom: .3%;

 }

 .score
 {
     background-color: #CD5C5C;
     font-size: 40px;
     text-indent: 5px;
     height: 50px;
     width: 150px;;
     margin-bottom: .5%;
 }

